<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Registro de Usuario</title>
    <link th:href="@{/css/bootstrap/bootstrap.css}" rel="stylesheet" />
    <script th:src="@{/js/bootstrap/bootstrap.bundle.js}" type="text/javascript"></script>
    <style>
        body, html {
            height: 100%;
            margin: 0;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .card {
            width: 100%;
            max-width: 400px;
        }
        .card-header {
            text-align: center;
        }
        .button-container {
            display: flex;
            justify-content: center;
            gap: 10px;
        }
    </style>
</head>
<body>
<div class="card">
    <div class="card-header text-bg-dark">
        REGISTRO DE USUARIO
    </div>
    <div class="card-body">
        <form action="/seguridad/usuario" method="post">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="nombres" name="nombres" placeholder="Nombres">
                <label for="nombres">Nombres</label>
            </div>
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="apellidos" name="apellidos" placeholder="Apellidos">
                <label for="apellidos">Apellidos</label>
            </div>
            <div class="form-floating mb-3">
                <input type="email" class="form-control" id="email" name="email" placeholder="name@example.com">
                <label for="email">Email</label>
            </div>
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="nomusuario" name="nomusuario" placeholder="Usuario">
                <label for="nomusuario">Usuario</label>
            </div>
            <div class="form-floating mb-3">
                <input type="password" class="form-control" id="contraseña" name="contraseña" placeholder="Contraseña">
                <label for="contraseña">Contraseña</label>
            </div>
            <div class="button-container">
                <button type="button" class="btn btn-secondary" onclick="window.location.href='@{/auth/login}'">REGRESAR A LOGIN</button>
                <button type="submit" class="btn btn-primary">GUARDAR</button>
            </div>
        </form>
    </div>
</div>
</body>
</html>